html,
body {
    height: 100%;
    background-color: rgb(5, 60, 114) !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: rgb(198, 192, 36) !important;
}

hr {
    background-color: rgb(100, 196, 76) !important;
}

p {
    color: #D1D1D1 !important;
}

.dados {
    color: #df55db;
}